<% if @students != nil %>
  <% @students.each do |student| %>
    <tr class="list-group-item-action" id='<%= student.id %>'>
      <th scope="row" class="text-center edit_student"><%= student.id %></th>
      <td class="text-center name edit_student"><%= student.name %></td>
      <td class="text-center email edit_student"><%= student.email %></td>
      <td class="text-center gpa edit_student"><%= student.gpa %></td>
      <td class="text-center"><a href='#' class="fas fa-trash"></a></td>
    </tr>
  <% end %>
<% end %>