<!DOCTYPE html>
<html>
<head>
  <title>Records</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <%= stylesheet_link_tag 'sections', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'sections', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'crud', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= yield %>
</body>
</html>
